input[readonly],
textarea[readonly] {
  background-color: #e9ecef;
}

input[readonly]:focus,
textarea[readonly]:focus {
  background-color: #e9ecef;
  cursor: not-allowed;
}

h6 {
  font-size: 0.8em;
}

.mandatory {
  border-color: #f5b132;
}

.empty-mandatory {
  border-color: #eb3f3f;
}

.dataTables_filter input[type='search'] {
  width: 350px;
}

.header-title {
  background-color: rgba(248, 249, 250);
  padding: 0 16px;
}

.ui-autocomplete {
  z-index: 9999 !important;
}
