<body>
  <form
    class="row g-3 needs-validation d-none mb-4"
    id="formDocumentos"
    autocomplete="off"
  >
    <div class="col-sm-12">
      <div class="card border-light mb-3">
        <div class="card-header">
          <h6>Los campos con borde naranja son obligatorios</h6>
        </div>
        <div class="card-body">
          <!-- CAMPOS La mayoría agrupados en 2 por row -->
          <input type="hidden" name="clave" value="" id="claveInput"/>
          <!-- DocNum, Period e Instance -->
          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="docNumInput">DocNum</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el DocNum"
                  id="docNumInput"
                  name="docNumInput"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="periodInput">Period</label>
                <input
                  type="number"
                  class="form-control mandatory"
                  placeholder="Ingrese el Period"
                  id="periodInput"
                  name="periodInput"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="instanceInput">Instance</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el instance"
                  id="instanceInput"
                  name="instanceInput"
                  required
                />
              </div>
            </div>
          </div>
          <!-- Series y Handwritten -->
          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="seriesInput">Series</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese la serie"
                  id="seriesInput"
                  name="seriesInput"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="handwrttenInput">Handwritten</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el Period"
                  id="handwrttenInput"
                  name="handwrttenInput"
                  required
                />
              </div>
            </div>
          </div>
          <!-- Canceled y Object -->
          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="canceledInput">Canceled</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el canceled"
                  id="canceledInput"
                  name="canceledInput"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="objectInput">Object</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el objeto"
                  id="objectInput"
                  name="objectInput"
                  required
                />
              </div>
            </div>
          </div>
          <!-- LogInst y userSign -->
          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="logInstInput">logInst</label>
                <input
                  type="number"
                  class="form-control mandatory"
                  placeholder="Ingrese el logInst"
                  id="logInstInput"
                  name="logInstInput"
                  required
                  min="1"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="userSignInput">userSign</label>
                <input
                  type="number"
                  class="form-control mandatory"
                  placeholder="Ingrese el userSign"
                  id="userSignInput"
                  name="userSignInput"
                  required
                  min="1"
                />
              </div>
            </div>
          </div>
          <!-- transfered y status -->
          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="transferedInput">Transfered</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el transfered"
                  id="transferedInput"
                  name="transferedInput"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="statusInput">Status</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el status"
                  id="statusInput"
                  name="statusInput"
                  required
                />
              </div>
            </div>
          </div>
          <!-- dataSource y tipoDocto -->
          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="dataSourceInput">DataSource</label>
                <input
                  type="text"
                  class="form-control mandatory"
                  placeholder="Ingrese el data"
                  id="dataSourceInput"
                  name="dataSourceInput"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="tipoDocumentoInput">Tipo Docto</label>
                <!-- [TODO]: Agregar el ENUM -->
                <input
                  type="text"
                  class="form-control"
                  id="tipoDocumentoInput"
                  name="tipoDocumentoInput"
                  value="Compra"
                  readonly
                  required
                  tabindex="-1"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="fechaInput">Fecha</label>
                <input
                  type="date"
                  class="form-control mandatory"
                  placeholder="dd/mm/aaaa"
                  id="fechaInput"
                  name="fechaInput"
                  required
                />
              </div>
            </div>
          </div>
          <!-- empleado -->
          <div class="row mb-2">
            <div class="form-group">
              <label for="numeroEmpleadoInput">Empleado</label>
              <input
                type="text"
                class="form-control mandatory"
                placeholder="Ingrese el número de empleado"
                id="numeroEmpleadoInput"
                name="numeroEmpleadoInput"
                required
              />
            </div>
          </div>
          <!-- Almacenista y planta -->
          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="almacenistaInput">Almacenista</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Se obtendrá en automático al seleccionar el empleado"
                  id="almacenistaInput"
                  name="almacenistaInput"
                  readonly
                  tabindex="-1"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="plantaInput">Planta</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Se obtendrá en automático al seleccionar el empleado"
                  id="plantaInput"
                  name="plantaInput"
                  readonly
                  tabindex="-1"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Tabla de detalles -->
        <div class="row mb-3 d-none" id="tablaDetalles">
          <div class="col-sm-12">
            <table
              id="listadoDetalles"
              class="table table-bordered table-condensed table-striped"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>LineId</th>
                  <th>vistOrder</th>
                  <th>Object</th>
                  <th>codigoMov</th>
                  <th>numHerramienta</th>
                  <th>cantidad</th>
                  <th>precio</th>
                  <th>USD</th>
                  <th>Tipo cambio</th>
                  <th>Fecha</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="d-flex col-sm-4 justify-content-center" id="saveButtonsGroup">
              <button
                class="btn btn-success"
                type="button"
                id="addRecordButton"
                onclick="addRecordHandler()"
              >
                Agregar Documento
              </button>
              <button
                class="btn btn-danger d-none"
                type="button"
                id="updateRecordButton"
                onclick="updateRecordHandler()"
              >
                Actualizar Documento
              </button>
            </div>
            <div class="d-flex col-sm-4 justify-content-center mx-auto" id="detallesButtonsGroup">
              <button
                class="btn btn-success d-none"
                type="button"
                id="agregarDetallesButton"
                data-type="agregar"
                onClick="actionButtonHandler(this,$('#claveInput').val())"
              >
                Agregar Detalles
              </button>
            </div>
            <div class="d-flex col-sm-4 justify-content-center mx-auto">
              <button
                class="btn btn-warning"
                type="button"
                id="cancelRecordButton"
                onclick="cancelRecordHandler()"
              >
                Regresar al listado
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
<script>
  quitarErrorOnFocus();
</script>
<script src="./js/autocompleteFields.js" defer></script>
