<body>
  <div
    class="modal fade"
    id="detallesModal"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Agregar Detalle</h5>
        </div>
        <div class="modal-body">
          <form
            class="row g-3 needs-validation mb-4"
            id="formDetalles"
            autocomplete="off"
          >
            <div class="col-sm-12">
              <div class="card border-light mb-3">
                <div class="card-header">
                  <h6>Los campos con borde naranja son obligatorios</h6>
                </div>
                <div class="card-body">
                  <!-- CAMPOS La mayoría agrupados en 2 por row -->
                  <input type="hidden" name="clave" value="" id="claveModalInput" />
                  <!-- vistOrder y Object -->
                  <div class="row mb-2">
                    <div class="col">
                      <div class="form-group">
                        <label for="vistOrderInput">vistOrder</label>
                        <input
                          type="text"
                          class="form-control modal-input mandatory"
                          placeholder="Ingrese el vistOrder"
                          id="vistOrderInput"
                          name="vistOrderInput"
                          required
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="objectInput">Object</label>
                        <input
                          type="text"
                          class="form-control modal-input mandatory"
                          placeholder="Ingrese el objeto"
                          id="objectInput"
                          name="objectInput"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <!-- logInst y codMov -->
                  <div class="row mb-2">
                    <div class="col">
                      <div class="form-group">
                        <label for="fechaInput">Fecha</label>
                        <input
                          type="date"
                          class="form-control modal-input mandatory"
                          placeholder="dd/mm/aaaa"
                          id="fechaInput"
                          name="fechaInput"
                          required
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="codMovInput">Cod Mov</label>
                        <!-- [TODO]: Agregar el ENUM -->
                        <input
                          type="text"
                          class="form-control modal-input"
                          id="codMovInput"
                          name="codMovInput"
                          value="Compra"
                          readonly
                          required
                          tabindex="-1"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- Herramienta y Descripción -->
                  <div class="row mb-2">
                    <div class="col">
                      <div class="form-group">
                        <label for="herramientaInput">Herramienta</label>
                        <input
                          type="text"
                          class="form-control modal-input mandatory"
                          placeholder="Ingrese la herramienta"
                          id="herramientaInput"
                          name="herramientaInput"
                          required
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="descriptionInput">Descripción</label>
                        <textarea
                          class="form-control modal-input"
                          placeholder="Description..."
                          id="descriptionInput"
                          name="descriptionInput"
                          readonly
                          style="resize: none"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- Cantidad y Precio -->
                  <div class="row mb-2">
                    <div class="col">
                      <div class="form-group">
                        <label for="cantidadInput">Cantidad</label>
                        <input
                          type="number"
                          class="form-control modal-input mandatory"
                          min="1"
                          placeholder="Ingrese la cantidad"
                          id="cantidadInput"
                          name="cantidadInput"
                          required
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="precioInput">Precio</label>
                        <input
                          type="number"
                          class="form-control modal-input mandatory"
                          placeholder="Ingrese el precio"
                          id="precioInput"
                          name="precioInput"
                          step=".01"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <!-- USD y TIpo Cambio -->
                  <div class="row mb-2">
                    <div class="col">
                      <div class="form-group">
                        <label for="precioUSDInput">Precio USD</label>
                        <input
                          type="number"
                          class="form-control modal-input"
                          placeholder="Ingrese el precio en dólares"
                          id="precioUSDInput"
                          name="precioUSDInput"
                          step=".01"
                        />
                      </div>
                    </div>
                    <div class="col" id="tipoCambioCol">
                      <div class="form-group">
                        <label for="tipoCambioInput">Tipo cambio</label>
                        <input
                          type="number"
                          class="form-control modal-input"
                          placeholder="Se obtendrá en automático si aplica"
                          id="tipoCambioInput"
                          name="tipoCambioInput"
                          readonly
                          step=".01"
                          tabindex="-1"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button
            type="button"
            class="btn btn-success"
            id="addDetallesRecordButton"
            onclick="addDetallesRecordHandler()"
          >
            Guardar Detalles
          </button>
          <button
            type="button"
            class="btn btn-warning"
            data-bs-dismiss="modal"
            id="cancelDetallesButton"
            onclick="cancelModal()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  quitarErrorOnFocus();
</script>
<script src="./js/autocompleteFields.js" defer></script>
